<app-navbar></app-navbar>  
<br>
<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="showSuccessMsg">
  <strong>User Added Successfully!!!</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="alert alert-success" role="alert" *ngIf="showUpdateMsg">
  User Updated Successfully!!!
</div>
<div class="alert alert-danger" role="alert" *ngIf="showDeleteMsg">
  User Deleted Successfully!!!
</div>
<!-- Form -->
<div class="container">
  <form #myForm= "ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Full Name</label>
      <input type="email" class="form-control" name="name" aria-describedby="emailHelp" [(ngModel)]="userObj.name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Mobile Number</label>
      <input type="email" class="form-control"  name="mobile" aria-describedby="emailHelp" [(ngModel)]="userObj.mobile" >
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control"  name="email" aria-describedby="emailHelp" [(ngModel)]="userObj.email" >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="pasword" [(ngModel)]="userObj.pasword" >
    </div>

    <button type="submit" class="btn btn-primary" (click)="addUser(myForm.value)" *ngIf="!isEdit">Submit</button>
    <button type="submit" class="btn btn-primary" (click)="updateUser()" *ngIf="isEdit">Update</button>
  </form>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">FullName</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers | paginate: {itemsPerPage: count, currentPage: p}">
        <td>{{user.name}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.email}}</td>
        <td>{{user.pasword}}</td>
        <td><button class="btn btn-primary" (click)="editUser(user)">Edit</button></td>
        <td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button></td>

      </tr>
    </tbody>
  </table>
<!--   
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav> -->
  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>